$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-footer: rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-footer-text: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);
$gap-row: 20px;

*, :after, :before { box-sizing: border-box; }

body {margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: $c-background;}
