@use 'body';
@use 'header-about';
@use 'footer-about';
@use 'buttons-booking';
@use 'primary-logos-booking';
@use 'variable';

$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);
$gap-row: 20px;

.main {
    position: relative;
    z-index: 1;
    top: -45px;
    bottom: 150px;
    width: 90vw;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid $c-text;
    background-color: $c-primary; 
    color: $c-text;
    text-align: center;
    padding: 5px;

    @media screen and (min-width: 1000px) {
        grid-template-columns: 5% repeat(6, 1fr) 5%; }}


form {
    margin-top: 40px;
    width: 100%;
    max-width: 200px;
    text-align:left;
  }

form label { display:block;
}


.required {
    color: red;
    margin:0;
    display:inline-block;
}