@use 'header-about';
@use 'footer-about';
@use 'buttons-catering';
@use 'primary-logos-catering';


*, :after, :before { box-sizing: border-box; }

/* Proměnné */
$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-text: #4f190b;
$gap-row: 20px;


body {margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: $c-background;}



.main {
    position: relative;
    z-index: 1;
    top: -45px;
    bottom: 150px;
    border: 2px solid $c-text;
    background-color: $c-primary; 
    width: 90vw;
    height: auto;
    color: $c-text;
    margin-left: auto;
    margin-right:auto;
    text-align: center;

   
    @media screen and (min-width: 1000px) {
        display:grid;
        grid-template-columns: 5% repeat(6, 1fr) 5%;
       
        &__intro { grid-column: 2 / 8;
            grid-row: 2 / 3;} 
        &__description {grid-column: 2 / 8;
            grid-row: 3 / 4;}
        &__pricing {grid-column: 2 / 8;
            grid-row: 4 / 5; }
        &__orders {grid-column: 2 / 8;}
        &__contact {grid-column: 2 / 8;}



    }}
    


.main > div {
    margin-left: 5px;
    margin-right: 5px;
}

hr {
    border: 1px solid $c-lines;
margin-left: 40px;
margin-right: 40px;
}

.pricing__photo {
    width: 50%;
}

.main__contact > a {
    text-decoration: none;
    color:#4f190b;
}








    
