@use 'body';
@use 'header-about';
@use 'footer-about';
@use 'buttons-catering';
@use 'primary-logos_other';

$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);
$gap-row: 20px;

.main {
    position: relative;
    z-index: 1;
    top: -45px;
    bottom: 150px;
    width: 90vw;
    margin-left: auto;
    margin-right:auto;
    border: 2px solid $c-text;
    background-color: $c-primary; 
    color: $c-text;
    text-align: center;
    padding: 5px;

   
    @media screen and (min-width: 1000px) {
        display:grid;
        grid-template-columns: 5% repeat(6, 1fr) 5%;
        row-gap: 20px;
       
        &__intro { grid-column: 2 / 8;
            grid-row: 2 / 3;} 
        &__description {grid-column: 2 / 8;
            grid-row: 3 / 4;}
        &__pricing {grid-column: 2 / 8;
            grid-row: 4 / 5; }
        &__orders {grid-column: 2 / 8;}
        &__contact {grid-column: 2 / 8;}



    }}
    


hr {
    border: 1px solid $c-lines;
margin-left: 40px;
margin-right: 40px;
}

.pricing__photo {
    width: 70%;
    border: 2px solid $c-text;
    border-radius: 5px;
}

.main__contact > a {
    text-decoration: none;
    color:$c-text;
}

.main__contacts {
    display:block;

    @media screen and (min-width: 1000px) {display:flex;
        justify-content: center;
        align-items: center;
   
}}

h2 {font-size: 1.2em;}

/*
.main__contact {display:flex;
flex-wrap: wrap;}

.main__contact > h2 {flex-basis: 100%;}

.main__contacts {flex-basis: 100%;
}
*/

.main__contacts {
    @media screen and (min-width: 1000px) {
        margin-left: 55px;
    }  
}
.contacts__type:nth-last-child(2){
    margin-left: 10px;
    margin-right: 10px;

}

