@use 'body';
@use 'header';
@use 'footer';
@use 'buttons-homepage';
@use 'primary-logos_homepage';


$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);
$gap-row: 20px;


.main {
    display:grid;
    position: relative;
    z-index: 1;
    top: -45px;
    bottom: 150px;
    width: 90vw;
    margin-left: auto;
    margin-right:auto;
    padding-top: 90px;
    padding-bottom: 90px;
    border: 2px solid $c-text;
    background-color: $c-primary; 
    color: $c-text;
    text-align: center;
   
    @media screen and (min-width: 1000px) {
        grid-template-columns: 5% repeat(6, 1fr) 5%; }}

        
.home__perex {
margin-top: 30px;
margin-bottom: 30px;
margin-left: 10px;
margin-right: 10px;
grid-row: 2 / 3;
}

.home__hr {
border: 2px solid $c-lines;
margin-left: 40px;
margin-right: 40px; }


.home__news {
grid-row: 4 / 5;
width: 90%;
margin-left:auto;
margin-right: auto;
}

.booking__text { grid-row: 6 / 7;}

.drinks__text {grid-row: 8 / 9;}

.catering__text {grid-row: 10 / 11;}

.hours {margin: 30px auto;
    display:none;
   
    @media screen and (min-width: 1000px) {
        grid-row: 6 / 7;
        grid-column: 3 / 6;
            } }

.address { 
margin-left: auto;
margin-right:auto;
display:none;
   
&__pin {width: 1.5em;
    margin-right: 5px; }

    @media screen and (min-width: 1000px) {
        grid-row: 7 / 8;
        grid-column: 3 / 6;
        text-align: left;
        margin-bottom: 50px;
        text-align: center;
    }
}
  





    
