<ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Aktuality & Akce</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Rezervace</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Nápojový lístek</a></li>
            <li class="menu__item"><a class="menu__link" href="/Catering/">Catering</a></li>
            
          </ul>  