<ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
            <li class="menu__item"><a class="menu__link" href="/about/">O nás</a></li>
            <li class="menu__item"><a class="menu__link" href="/events/">Aktuality & Akce</a></li>
             <li class="menu__item"><a class="menu__link" href="/booking/">Rezervace</a></li>
            <li class="menu__item"><a class="menu__link" href="/catering/">Catering</a></li>
            
          </ul>  